.addCard {
  display: flex;
  margin: auto;
  max-width: 500px;
  color: var(--dark-shades);
}

.addCard form {
  width: 100%;
}

.addCard form p {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid var(--dark-shades);
}
.addCard form p:last-of-type {
  border-bottom: none;
}
.addCard form label {
  font-weight: bold;
}

.addCard p select {
  width: 100px;
}